@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Register For Shibir</h1>
    <a asp-controller="Shibir" asp-action="Add" class="btn btn-primary">Register</a>
</div>
